[submodule ".style"]
	path = .style
	url = https://github.com/symcon/StylePHP
[submodule "tests/stubs"]
	path = tests/stubs
	url = https://github.com/symcon/SymconStubs
[submodule "StaircaseLightControls/helper"]
	path = StaircaseLightControls/helper
	url = https://github.com/symcon/SymconHelper/
