[submodule ".style"]
	path = .style
	url = https://github.com/symcon/StylePHP
[submodule "tests/stubs"]
	path = tests/stubs
	url = https://github.com/symcon/SymconStubs
[submodule "Treppenhauslichtsteuerung/helper"]
	path = Treppenhauslichtsteuerung/helper
	url = https://github.com/symcon/SymconHelper
